################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/DotNetUtils.Core/v15
/.vs
/src/DotNetUtils.Core/.vs/DotNetUtils.Core/v15/Server/sqlite3
/src/UtilsSharp.Core/.vs/UtilsSharp.Core/v15/Server/sqlite3/db.lock
/src/UtilsSharp.Standard/.vs/UtilsSharp.Standard/v16/Server/sqlite3/db.lock
