<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="myvar" value="myvalue"/>
  <targets async="true">
    <!--写入到接口配置-->
    <target name='ws' xsi:type='WebService' url='http://127.0.0.1:8080/api/Log/Add' protocol='JsonPost' encoding='UTF-8' >
      <parameter name='message' type='System.Type' layout='${message}'/>
      <parameter name='level' type='System.Type' layout='${level}'/>
      <parameter name='logtime' type='System.Type' layout='${longdate}'/>
      <parameter name='exception' type='System.Type' layout='${exception:format=tostring}'/>
      <parameter name='machineName' type='System.Type' layout='127.0.0.1'/>
      <parameter name='ip' type='System.Type' layout='${aspnet-request-ip}'/>
      <parameter name='url' type='System.Type' layout='${aspnet-request-url}'/>
	  <parameter name='businessLine' type='System.Type' layout='业务线名称'/>
	  <parameter name='projectName' type='System.Type' layout='项目名称'/> 
      <parameter name='browser' type='System.Type' layout='${aspnet-request-useragent}'/>
      <parameter name='arg1' type='System.Type' layout='${event-context:item=arg1}'/>
      <parameter name='logId' type='System.Type' layout='${event-context:item=LogId}'/>
      <parameter name='requestUrl' type='System.Type' layout='${event-context:item=RequestUrl}'/>
      <parameter name='params' type='System.Type' layout='${event-context:item=Params}'/>
      <parameter name='userId' type='System.Type' layout='${event-context:item=UserId}'/>
      <parameter name='errorCode' type='System.Type' layout='${event-context:item=ErrorCode}'/>
      <parameter name='detailTrace' type='System.Type' layout='${event-context:item=DetailTrace}'/>
      <parameter name='func' type='System.Type' layout='${event-context:item=Func}'/>
    </target>
    <!--写入到文件配置-->
    <target name="fs" xsi:type="File" fileName="${basedir}\Logs\${shortdate}\${level}.txt" concurrentWrites="false" archiveAboveSize="10240000" layout="【日志标识】：${event-context:item=LogId}${newline}【日志等级】：${level}${newline}【功能名称】：${event-context:item=Func}${newline}【用户编号】：${event-context:item=UserId}${newline}【请求地址】：${event-context:item=RequestUrl}${newline}【请求参数】：${event-context:item=Params}${newline}【日志信息】：${message}${newline}【日志详情】：${event-context:item=DetailTrace}${newline}【异常堆栈】：${exception:format=tostring}${newline}【记录时间】：${longdate}${newline}==================================================================" />
  </targets>
  <rules>
    <!--写入到接口规则 enabled为是否开启-->
    <logger enabled="false" name="*" writeTo="ws" level="Trace" />
    <logger enabled="false" name="*" writeTo="ws" level="Info" />
    <logger enabled="false" name="*" writeTo="ws" level="Debug" />
    <logger enabled="false" name="*" writeTo="ws" level="Warn" />
    <logger enabled="false" name="*" writeTo="ws" level="Error" />
    <logger enabled="false" name="*" writeTo="ws" level="Fatal" />
    <logger enabled="false" name="*" writeTo="ws" level="Off" />
    <!--写入到文件规则 enabled为是否开启-->
    <logger enabled="true" name="*" writeTo="fs" level="Trace" />
    <logger enabled="true" name="*" writeTo="fs" level="Info" />
    <logger enabled="true" name="*" writeTo="fs" level="Debug" />
    <logger enabled="true" name="*" writeTo="fs" level="Warn" />
    <logger enabled="true" name="*" writeTo="fs" level="Error" />
    <logger enabled="true" name="*" writeTo="fs" level="Fatal" />
    <logger enabled="true" name="*" writeTo="fs" level="Off" />
  </rules>
</nlog>
